<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Departamentales</title>
        <link rel="stylesheet" href="Departamentales.css">
    </head>
    <body>
        <main>
            <nav class="narva">
                <img src="Assets/img/Copailit_20250922_193618.png">
                <label>Reseñas que reseñan</label>
                <input list="Establecimiento" placeholder="Seleccionar">
                <datalist id="Establecimiento">
                    <option value = "Departamentales"></option>
                    <option value = "Entretenimiendo"></option>
                    <option value="Restaurantes"></option>
                    <option value="Supermercados"></option>
                </datalist>
            </nav>
        </main>
    </body>

</html>