<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Departamentales</title>
        <link rel="stylesheet" href="Departamentales.css">
    </head>
    <body>
        <main>
            <nav class="narva">
                <label class="nombre">Reseñas que reseñan</label>
                <input list="Establecimiento" placeholder="Seleccionar">
                <datalist id="Establecimiento">
                    <option value = "Departamentales"></option>
                    <option value = "Entretenimiento"></option>
                    <option value="Restaurantes"></option>
                    <option value="Supermercados"></option>
                </datalist>
                <button class="inicio_sesion">Iniciar sesion</button>
                <img class="imag" src="https://tse3.mm.bing.net/th/id/OIP.w2McZSq-EYWxh02iSvC3xwHaHa?rs=1&pid=ImgDetMain&o=7&rm=3" alt="usuario">
            </nav>
        </main>
    </body>

</html>