<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Departamentales</title>
        <link rel="stylesheet" href="Departamentales.css">
    </head>
    <body>
        <header>
            <nav class="narva">
                <label class="nombre">Reseñas que reseñan</label>
                <input class="selec" list="Establecimiento" placeholder="Seleccionar">
                <datalist id="Establecimiento">
                    <option value = "Departamentales"></option>
                    <option value = "Entretenimiento"></option>
                    <option value="Restaurantes"></option>
                    <option value="Supermercados"></option>
                </datalist>
                <input type="search" placeholder="Buscar">
                <button class="inicio_sesion">Iniciar sesion</button>
                <img class="usuario" src="https://tse3.mm.bing.net/th/id/OIP.w2McZSq-EYWxh02iSvC3xwHaHa?rs=1&pid=ImgDetMain&o=7&rm=3" alt="usuario">
            </nav>
        </header>
        <main>
            <div class="Depar_Tar">
                <div >
                    <img class="depar" src="https://th.bing.com/th/id/OIP.GZVePjJ3gxypk5_Xh_p1RQHaHa?w=161&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3" alt="CCeP">
                    <label class="calf">★★★★☆</label>
                </div>
                    <div class="informacion">
                        <h2>Cuidado con el perro</h2>
                        <h3><b>Descripción:</b> Somos una empresa 100% mexicana que nace con la ilusión de dar más por menos. De ayudar a todos a vestirse a la moda sin restricciones. De crear juntos un México mejor, más justo y con más oportunidades. Por qué México es perro, y así nos queremos.</h3>
                        <h3><b>Horarios: </b>Lu a Dom, de 10:00 - 22:00</h3>
                        <div>
                            <input class="ubi" list="ubicaciones" placeholder="ubicaciones">
                            <datalist id="ubicaciones">
                                <option value = "No Reeleccion & Calle 5 de Febrero"></option>
                                <option value = "MIGUEL ALEMÁN ESQ. GALEANA"></option>
                            </datalist>
                        </div>
                        <input type="text" placeholder="Agregar comentario">
                        <div class="comentario">
                            <label>📷 @CarlosFoodie 🍔 ⭐⭐⭐⭐⭐</label>
                            <p>Me encanto la tienda, encontre todo lo que buscaba y hasta mas cosas, ropa super comora</p>
                        </div>
                        

                    </div>
            </div>
        </main>
    </body>

</html>