<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>ReseñasQueReseñan</title>
  <link rel="stylesheet" href="Restaurantes.css">
</head>
<body>
  <header>
    <h1>ReseñasQueReseñan</h1>
    <div class="navbar">
        
      <input type="text" list="Restaurantes" placeholder="Buscar restaurante...">
      <datalist id="Restaurantes">
        <option value="La Casa del Taco">
        <option value="La Esquina del Sabor">
        <option value="La Fábrica Pasta Bar">
        <option value="El Fogón de Doña Lupita">
        <option value="Pizzería La Nonna">
      </datalist>
      <button>INICIAR SESIÓN</button>
    </div>
  </header>

  <main>
    <section class="restaurant-card destacado">
      <img src="https://i.pinimg.com/736x/ba/e7/d0/bae7d06475933c5d310c86a7a175e7e7.jpg" alt="La Casa del Taco">
      <div class="info">
        <h2>La Casa del Taco</h2>
        <div class="stars">★★★★☆</div>
        <p>Tradición mexicana en cada bocado. Este lugar es famoso por sus tacos al pastor al trompo, sus salsas de diferentes niveles de picante, la rapidez de su servicio y el ambiente como si en una salida casual estuviéramos frente a una taquería tradicional de las de la parrilla.</p>
        <p><strong>Horario:</strong> Lunes a domingo de 10:00 a 23:30</p>
      </div>
    </section>


    <section class="restaurant-list">
      <div class="restaurant-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjzMuqmDaC5pkoaKF75kI-vTuMb-143qbZFg&s" alt="La Esquina del Sabor">
        <div class="info">
          <h2>La Esquina del Sabor</h2>
          <div class="stars">★★★★☆</div>
        </div>
      </div>

      <div class="restaurant-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDmK8ojuCnkSrgpnDl1Z90qijxiHMEcUbFGg&s" alt="La Fábrica Pasta Bar">
        <div class="info">
          <h2>La Fábrica Pasta Bar</h2>
          <div class="stars">★★★★★</div>
        </div>
      </div>

      <div class="restaurant-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3eYauIPSuc8clNCxJQH9jXZQaScg-rjQlBA&s" alt="El Fogón de Doña Lupita">
        <div class="info">
          <h2>El Fogón de Doña Lupita</h2>
          <div class="stars">★★★☆☆</div>
        </div>
      </div>

      <div class="restaurant-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYSMTgfDQggiRuReWI6yODFdGhssGckxBjjw&s" alt="Pizzería La Nonna">
        <div class="info">
          <h2>Pizzería La Nonna</h2>
          <div class="stars">★★★★★</div>
        </div>
      </div>
    </section>
  </main>
</body>
</html>
