<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ReseñasQueReseñan</title>
  <link rel="stylesheet" href="Restaurantes2.css">
</head>
<body>
  <header>
    
    <h1>ReseñasQueReseñan</h1>
    <input type="text" list="restaurantes" placeholder="Buscar restaurante...">
    <datalist id="restaurantes">
      <option value="La Casa del Taco">
      <option value="La Esquina del Sabor">
      <option value="La Fábrica Pasta Bar">
      <option value="El Fogón de Doña Lupita">
      <option value="Pizzería La Nonna">
    </datalist>
    <nav>
      <button>INICIAR SESIÓN</button>
    </nav>
  </header>

  <main>
    <section class="resena">
      <div class="izquierda">
        <img src="https://i.pinimg.com/736x/ba/e7/d0/bae7d06475933c5d310c86a7a175e7e7.jpg" alt="La Casa del Taco">
        <h2>La Casa del Taco</h2>
        <div class="estrellas">★★★★☆</div>
        <p class="descripcion">
          Tradición mexicana en cada bocado. Este lugar es famoso por sus tacos al pastor al carbón, los cuales tienen un sabor auténtico y delicioso. Además, su salsa verde es imperdible, mientras escuchas buena música y hueles el aroma irresistible de la parrilla.
        </p>
        <p class="horario"><strong>Horario:</strong> Lunes a domingo de 10:00 a 23:30</p>
      </div>

      <div class="derecha">
        <h3>149 comentarios</h3>
        <div class="comentario">
          <span class="usuario">@CarlosFoodie 🌮</span>
          <div class="estrellas">★★★★★</div>
          <p>Bro, esos tacos están a otro nivel. Literalmente me hicieron llorar de lo buenos que están.</p>
        </div>
        <div class="comentario">
          <span class="usuario">@LauTakesPics🌶️</span>
          <div class="estrellas">★★★★☆</div>
          <p>Buen sabor, pero la salsa verde casi me manda al hospital. 🌶 ¡Es picante con estilo!</p>  
        </div>
        <div class="comentario">
          <span class="usuario">@FoodLover99😒</span>
          <div class="estrellas">★★★☆☆</div>
          <p>He probado mejores tacos que estos. pero volveria sin duda!</p>
      </div>
    </section>
  </main>
</body>
</html>
