<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="http://127.0.0.1:5500/Views/Departamentales/Departamentales.html">
        <button>Departamentales</button>
    </a>
    <a href="http://127.0.0.1:5500/Views/Restaurantes/Restaurantes.html">
        <button>Restaurantes</button>
    </a>
    <a href="http://127.0.0.1:5500/Views/Entretenimiento/Entretenimiento.html">
        <button>Entretenimiento</button>
    </a>
    <a href="http://127.0.0.1:5500/Views/Supermercados/Supermercados.html">
        <button>Supermercados</button>
    </a>
</body>
</html>